In [ ]:
# !pip install --upgrade gspread

Pegar exemplo do Colab: External data > Google Sheets > autenticar usuario

In [2]:
# autenticação para acessar o sheets
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [3]:
spreadsheet = gc.open('Grade_Software')

In [4]:
page = spreadsheet.sheet1 # primeira aba da planilha

In [5]:
page.row_values(1) # valores primeira linha
page.col_values(1) # valores primeira coluna

['Período', 'Engenharia de Software', 'CR']

In [9]:
page.acell('B8').value # valor de uma célula

'Criação de Sites'

In [11]:
page.cell(5,2).value # valor linha 5 coluna 2

'Algoritmos'

In [16]:
page.update('G1', 'ola mundo') # escreve 'ola mundo' na celula G1
page.acell('G1').value
page.update('G1', '') # apaga 'ola mundo' na celula G1

{'spreadsheetId': '1hqjpib4_Z-pcXsWCA9hRnAKTMQWGQmXpv2V-AHromkc',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'GradeNova!G1',
 'updatedRows': 1}

In [18]:
# carregar os dados do GSHEET como dataframe do pandas
import pandas as pd

In [19]:
grade = pd.DataFrame(page.get_all_records())

In [20]:
grade.head()

  Período          Engenharia de Software CR
0       1         Criatividade e Inovação  2
1       1       Fundamentos de Matemática  2
2       1  Cálculo Diferencial e Integral  2
3       1                      Algoritmos  4
4       1    Fundamentos da Administração  2

In [43]:
# selecionar as disciplinas do período 7
x7 = grade.query('Período==7')
print(x7)
print('\n -----Informações----- \n')
print(x7.info()) # informações da query

   Período                      Engenharia de Software CR
57       7  Inteligência Artificial e Machine Learning  4
58       7                Desenvolvimento Móvel Nativo  4
59       7                           Teste de Software  2
60       7           Manutenção e Evolução de Software  2
61       7      Governança de Tecnologia da Informação  2
62       7                                 Eletiva III  2
63       7                      Projeto Integrador VII  2
64       7                 Práticas Extensionistas VII  2  20

 -----Informações-----

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 57 to 64
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Período                 8 non-null      object
 1   Engenharia de Software  8 non-null      object
 2   CR                      8 non-null      object
 3                           8 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes
None

In [42]:
materias7 = spreadsheet.add_worksheet('7o Periodo', rows=8, cols=4)  # criamos a aba para add os dados (esta em branco)

In [44]:
x7.columns.values.tolist()  # titulos das colunas
x7.values.tolist()  # cada linha vira uma lista (lista de listas)

['Período', 'Engenharia de Software', 'CR', '']

In [45]:
materias7.update([x7.columns.values.tolist()] + x7.values.tolist())

{'spreadsheetId': '1hqjpib4_Z-pcXsWCA9hRnAKTMQWGQmXpv2V-AHromkc',
 'updatedCells': 36,
 'updatedColumns': 4,
 'updatedRange': "'7o Periodo'!A1:D9",
 'updatedRows': 9}

In [47]:
# selecionar as disciplinas do período 2 -- contem linhas ocultas
x2 = grade.query('Período==2')
print(x2)
print('\n -----Informações----- \n')
print(x2.info()) # informações da query

   Período                     Engenharia de Software CR
10       2                        Eletricidade Básica  2
11       2               Desenvolvimento de Web Sites  2
12       2                       Orientação a Objetos  2
13       2                        Análise de Sistemas  4
14       2                        Estruturas de Dados  4
15       2  Arquitetura e Organização de Computadores  2
16       2                      Projeto Integrador II  2
17       2                 Práticas Extensionistas II  2  20

 -----Informações-----

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 10 to 17
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Período                 8 non-null      object
 1   Engenharia de Software  8 non-null      object
 2   CR                      8 non-null      object
 3                           8 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes
None

Faz a leitura de linhas e colunas ocultas!